$primary-font: 'Lobster',
cursive;
$secondary-font: 'Sofia',
cursive;
$bg-black: #0A0A0A;
$bg-white: #FFFAF0;
$info-bg-black: #0a0a0ae6;
$info-bg-white: hsla(0, 100%, 99%, 0.91);
$black-color: #0A0A10;
$text-primary-light: #F8F8F8;
$text-secondary-light: hsl(0, 0%, 86%);
$text-tertiary-light: hsl(0, 0%, 66%);
$text-primary-dark: #79C753;
$card-color: #FFFAFA;
$box-shadow: 0px 4px 6px hsla(0, 0%, 30%, .7),
0px 5px 15px hsla(0, 0%, 30%, .1);
$bold-text: 700;
$light-text: 400;
$phone-screen: 600px;
$width: 100%;

@mixin border-radius($tl, $tr, $bl, $br) {
    border-radius: $tl $tr $bl $br
}

@mixin margin($x, $y) {
    margin: $x $y
}

@mixin padding($x, $y) {
    padding: $x $y
}

@mixin h2 {
    h2 {
        font-family: $primary-font;
        color: $text-primary-dark;
        font-size: 50px;
        font-weight: $bold-text;
    }
}

@mixin h3 {
    h3 {
        font-family: $primary-font;
        color: $text-primary-dark;
        font-size: 38px;
        font-weight: $light-text;
    }
}

@mixin media() {
    @media only screen and (max-width: $phone-screen) {
        @content;
    }
}

//menu icon
.menu.icon {
    color: $text-tertiary-light;
    position: absolute;
    margin-left: 2px;
    margin-top: 10px;
    width: 22px;
    height: 2px;
    background-color: currentColor;
}

.menu.icon:before {
    content: '';
    position: absolute;
    top: -7px;
    left: 0;
    width: 22px;
    height: 2px;
    background-color: currentColor;
}

.menu.icon:after {
    content: '';
    position: absolute;
    top: 7px;
    left: 0;
    width: 22px;
    height: 2px;
    background-color: currentColor;
}