.menu.icon {
  color: #a8a8a8;
  position: absolute;
  margin-left: 2px;
  margin-top: 10px;
  width: 22px;
  height: 2px;
  background-color: currentColor;
}

.menu.icon:before {
  content: '';
  position: absolute;
  top: -7px;
  left: 0;
  width: 22px;
  height: 2px;
  background-color: currentColor;
}

.menu.icon:after {
  content: '';
  position: absolute;
  top: 7px;
  left: 0;
  width: 22px;
  height: 2px;
  background-color: currentColor;
}

.dark-theme {
  background-color: #0A0A0A;
}

.dark-theme nav {
  background-color: #0A0A0A;
}

.dark-theme nav .nav-brand h2 {
  color: #F8F8F8;
}

.dark-theme nav .nav-link-item .nav-link a {
  color: #F8F8F8;
}

.dark-theme #mission #card-info {
  background-color: #0a0a0ae6;
}

.dark-theme #mission #card-info #info p {
  color: #F8F8F8;
}

.dark-theme #featured-tea p {
  color: #F8F8F8;
}

.dark-theme #locations #address-info .address {
  background-color: #0a0a0ae6;
}

.dark-theme #locations #address-info .address p {
  color: #F8F8F8;
}

.dark-theme #footer {
  background-color: #0A0A0A;
}

.dark-theme #footer #contact-info p {
  color: #F8F8F8;
}

.dark-theme #quote {
  color: #F8F8F8;
}

.menu.icon {
  color: #a8a8a8;
  position: absolute;
  margin-left: 2px;
  margin-top: 10px;
  width: 22px;
  height: 2px;
  background-color: currentColor;
}

.menu.icon:before {
  content: '';
  position: absolute;
  top: -7px;
  left: 0;
  width: 22px;
  height: 2px;
  background-color: currentColor;
}

.menu.icon:after {
  content: '';
  position: absolute;
  top: 7px;
  left: 0;
  width: 22px;
  height: 2px;
  background-color: currentColor;
}

.menu.icon {
  color: #a8a8a8;
  position: absolute;
  margin-left: 2px;
  margin-top: 10px;
  width: 22px;
  height: 2px;
  background-color: currentColor;
}

.menu.icon:before {
  content: '';
  position: absolute;
  top: -7px;
  left: 0;
  width: 22px;
  height: 2px;
  background-color: currentColor;
}

.menu.icon:after {
  content: '';
  position: absolute;
  top: 7px;
  left: 0;
  width: 22px;
  height: 2px;
  background-color: currentColor;
}

.menu.icon {
  color: #a8a8a8;
  position: absolute;
  margin-left: 2px;
  margin-top: 10px;
  width: 22px;
  height: 2px;
  background-color: currentColor;
}

.menu.icon:before {
  content: '';
  position: absolute;
  top: -7px;
  left: 0;
  width: 22px;
  height: 2px;
  background-color: currentColor;
}

.menu.icon:after {
  content: '';
  position: absolute;
  top: 7px;
  left: 0;
  width: 22px;
  height: 2px;
  background-color: currentColor;
}

.dark-theme {
  background-color: #0A0A0A;
}

.dark-theme nav {
  background-color: #0A0A0A;
}

.dark-theme nav .nav-brand h2 {
  color: #F8F8F8;
}

.dark-theme nav .nav-link-item .nav-link a {
  color: #F8F8F8;
}

.dark-theme #mission #card-info {
  background-color: #0a0a0ae6;
}

.dark-theme #mission #card-info #info p {
  color: #F8F8F8;
}

.dark-theme #featured-tea p {
  color: #F8F8F8;
}

.dark-theme #locations #address-info .address {
  background-color: #0a0a0ae6;
}

.dark-theme #locations #address-info .address p {
  color: #F8F8F8;
}

.dark-theme #footer {
  background-color: #0A0A0A;
}

.dark-theme #footer #contact-info p {
  color: #F8F8F8;
}

.dark-theme #quote {
  color: #F8F8F8;
}

nav {
  background-color: #FFFAF0;
  -webkit-transition: .4s;
  transition: .4s;
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  padding: 0px 30px;
}

nav .nav-brand {
  display: inline-block;
  margin-right: auto;
}

nav .nav-brand h2 {
  font-weight: 900;
  font-size: 30px;
  font-style: oblique;
  -webkit-transition: .4s;
  transition: .4s;
}

@media only screen and (max-width: 600px) {
  nav .nav-brand {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-right: 70px;
  }
}

nav #switch-button {
  display: inline-block;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 0px 20px;
  padding-top: 2px;
}

@media only screen and (max-width: 600px) {
  nav #switch-button {
    position: absolute;
    top: 35px;
    right: 60px;
  }
}

nav .switch {
  position: relative;
  display: block;
  width: 50px;
  height: 23px;
}

nav .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

nav .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #dbdbdb;
  -webkit-transition: .4s;
  transition: .4s;
}

nav .slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: #FFFAF0;
  -webkit-transition: .4s;
  transition: .4s;
}

nav .slider.round {
  border-radius: 34px;
}

nav .slider.round:before {
  border-radius: 50%;
}

nav input:checked + .slider {
  background-color: #79C753;
}

nav input:focus + .slider {
  -webkit-box-shadow: 0 0 1px #79C753;
          box-shadow: 0 0 1px #79C753;
}

nav input:checked + .slider:before {
  -webkit-transform: translateX(26px);
          transform: translateX(26px);
}

nav .nav-link-toggle {
  display: none;
}

@media only screen and (max-width: 600px) {
  nav .nav-link-toggle {
    left: 20px;
    top: 35px;
    display: initial;
    position: absolute;
    cursor: pointer;
  }
}

nav .nav-link-item {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-right: 70px;
}

nav .nav-link-item .nav-link {
  display: inline-block;
  list-style: none;
  font-size: 20px;
  padding: 0px 20px;
}

nav .nav-link-item .nav-link a {
  -webkit-transition: .4s;
  transition: .4s;
  color: #0A0A10;
  text-decoration: none;
  font-family: "Lobster", cursive;
}

@media only screen and (max-width: 600px) {
  nav .nav-link-item {
    display: none;
    margin-right: 70px;
    margin-top: 10px;
  }
}

@media only screen and (max-width: 600px) {
  nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  nav .nav-toggle-show {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 20px;
  }
}

.menu.icon {
  color: #a8a8a8;
  position: absolute;
  margin-left: 2px;
  margin-top: 10px;
  width: 22px;
  height: 2px;
  background-color: currentColor;
}

.menu.icon:before {
  content: '';
  position: absolute;
  top: -7px;
  left: 0;
  width: 22px;
  height: 2px;
  background-color: currentColor;
}

.menu.icon:after {
  content: '';
  position: absolute;
  top: 7px;
  left: 0;
  width: 22px;
  height: 2px;
  background-color: currentColor;
}

#mission {
  background-image: url("images/img-mission-background.jpg");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#mission #card-info {
  margin-left: auto;
  margin-right: auto;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background-color: #FFFAFAe6;
  -webkit-box-shadow: 0px 4px 6px rgba(77, 77, 77, 0.7), 0px 5px 15px rgba(77, 77, 77, 0.1);
          box-shadow: 0px 4px 6px rgba(77, 77, 77, 0.7), 0px 5px 15px rgba(77, 77, 77, 0.1);
  text-align: center;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 6px 6px 6px 6px;
  padding: 0px 40px;
}

#mission #card-info #info h2 {
  font-family: "Lobster", cursive;
  color: #79C753;
  font-size: 48px;
  font-weight: 700;
}

#mission #card-info #info p {
  font-family: "Sofia", cursive;
  font-style: oblique;
  font-weight: 400;
  font-size: 20px;
  color: #0A0A10;
  -webkit-transition: .4s;
  transition: .4s;
}

@media only screen and (max-width: 600px) {
  #mission #card-info #info p {
    line-height: 2;
  }
}

@media only screen and (max-width: 600px) {
  #mission #card-info {
    width: 70%;
    margin-top: 50px;
  }
}

.menu.icon {
  color: #a8a8a8;
  position: absolute;
  margin-left: 2px;
  margin-top: 10px;
  width: 22px;
  height: 2px;
  background-color: currentColor;
}

.menu.icon:before {
  content: '';
  position: absolute;
  top: -7px;
  left: 0;
  width: 22px;
  height: 2px;
  background-color: currentColor;
}

.menu.icon:after {
  content: '';
  position: absolute;
  top: 7px;
  left: 0;
  width: 22px;
  height: 2px;
  background-color: currentColor;
}

#featured-tea {
  text-align: center;
  padding: 0px 10px;
}

#featured-tea h2 {
  font-family: "Lobster", cursive;
  color: #79C753;
  font-size: 48px;
  font-weight: 700;
}

#featured-tea p {
  -webkit-transition: .4s;
  transition: .4s;
  font-size: 24px;
  font-family: "Sofia", cursive;
  font-style: oblique;
  color: #0A0A10;
}

#featured-tea #tea-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#featured-tea #tea-section .tea-card {
  width: 300px;
  background-color: #FFFAFA;
  -webkit-box-shadow: 0px 4px 6px rgba(77, 77, 77, 0.7), 0px 5px 15px rgba(77, 77, 77, 0.1);
          box-shadow: 0px 4px 6px rgba(77, 77, 77, 0.7), 0px 5px 15px rgba(77, 77, 77, 0.1);
  margin: 20px 20px;
  padding: 10px 10px;
  border-radius: 6px 6px 6px 6px;
}

#featured-tea #tea-section .tea-card img {
  width: 100%;
  border: 2px solid #FFFFFF;
}

#featured-tea #tea-section .tea-card .tea-info-container {
  text-align: center;
  margin: 10px 20px;
}

#featured-tea #tea-section .tea-card .tea-info-container p {
  color: #0A0A10;
}

.menu.icon {
  color: #a8a8a8;
  position: absolute;
  margin-left: 2px;
  margin-top: 10px;
  width: 22px;
  height: 2px;
  background-color: currentColor;
}

.menu.icon:before {
  content: '';
  position: absolute;
  top: -7px;
  left: 0;
  width: 22px;
  height: 2px;
  background-color: currentColor;
}

.menu.icon:after {
  content: '';
  position: absolute;
  top: 7px;
  left: 0;
  width: 22px;
  height: 2px;
  background-color: currentColor;
}

#locations {
  background-image: url("images/img-locations-background.jpg");
  text-align: center;
}

#locations h2 {
  font-family: "Lobster", cursive;
  color: #79C753;
  font-size: 48px;
  font-weight: 700;
}

#locations #location-header {
  padding-top: 50px;
}

#locations #address-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#locations #address-info .address {
  width: 300px;
  background-color: #FFFAFAe6;
  -webkit-box-shadow: 0px 4px 6px rgba(77, 77, 77, 0.7), 0px 5px 15px rgba(77, 77, 77, 0.1);
          box-shadow: 0px 4px 6px rgba(77, 77, 77, 0.7), 0px 5px 15px rgba(77, 77, 77, 0.1);
  -webkit-transition: .4s;
  transition: .4s;
  padding: 20px 20px;
  margin: 20px 30px;
  border-radius: 6px 6px 6px 6px;
}

#locations #address-info .address h3 {
  font-family: "Lobster", cursive;
  color: #79C753;
  font-size: 36px;
  font-weight: 400;
}

#locations #address-info .address p {
  -webkit-transition: .4s;
  transition: .4s;
  color: #0A0A10;
  font-weight: 400;
  font-style: oblique;
  font-size: 18px;
  padding: 10px 16px;
}

.menu.icon {
  color: #a8a8a8;
  position: absolute;
  margin-left: 2px;
  margin-top: 10px;
  width: 22px;
  height: 2px;
  background-color: currentColor;
}

.menu.icon:before {
  content: '';
  position: absolute;
  top: -7px;
  left: 0;
  width: 22px;
  height: 2px;
  background-color: currentColor;
}

.menu.icon:after {
  content: '';
  position: absolute;
  top: 7px;
  left: 0;
  width: 22px;
  height: 2px;
  background-color: currentColor;
}

footer #footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #FFFAF0;
  -webkit-transition: .4s;
  transition: .4s;
  padding: 0px 60px;
}

footer #footer #footer-logo {
  display: inline-block;
  font-size: 30px;
  margin-right: auto;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

footer #footer #footer-logo h2 {
  font-family: "Lobster", cursive;
  color: #79C753;
  font-size: 48px;
  font-weight: 700;
}

@media only screen and (max-width: 600px) {
  footer #footer #footer-logo {
    margin-right: 0px;
    margin-bottom: 0px;
  }
}

footer #footer #contact-info {
  display: inline-block;
  margin-right: 30px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

footer #footer #contact-info p {
  -webkit-transition: .4s;
  transition: .4s;
  font-size: 18px;
  font-style: oblique;
  color: #0A0A10;
  font-weight: 400;
}

@media only screen and (max-width: 600px) {
  footer #footer #contact-info {
    margin-right: 0px;
  }
}

@media only screen and (max-width: 600px) {
  footer #footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
}

footer #quote {
  padding: 10px 20px;
  -webkit-transition: .4s;
  transition: .4s;
  text-align: center;
  font-style: oblique;
  color: #0A0A10;
  font-weight: 400;
}

html,
body {
  scroll-behavior: smooth;
  background-color: #FFFAF0;
  font-family: "Sofia", cursive;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

section {
  margin-top: 50px;
}

.parallax {
  min-height: 85vh;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
/*# sourceMappingURL=style.css.map */