@import './sass/darkMode.scss';
@import './sass/color&font.scss';
@import './sass/navBar.scss';
@import './sass/Section/missionSection.scss';
@import './sass/Section/featuredTeaSection.scss';
@import './sass/Section/locationsSection.scss';
@import './sass/footer.scss';

html,
body {
  scroll-behavior: smooth;
  background-color: $bg-white;
  font-family: $secondary-font;
  transition: 0.4s;
}

section {
  margin-top: 50px;
}

.parallax {
  min-height: 85vh;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}