@import '../color&font.scss';


#featured-tea {
  text-align: center;
  @include h1();

  p {
    transition: .4s;
    font-size: 24px;
    font-family: $secondary-font;
    font-style: oblique;
    color: $black-color;
  }

  #tea-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .tea-card {
      width: 300px;
      background-color: $card-color;
      box-shadow: $box-shadow;
      @include margin(20px, 20px);
      @include padding(10px, 10px);
      @include border-radius(6px, 6px, 6px, 6px);

      img {
        width: $width;
        border: 2px solid #FFFFFF;
      }

      .tea-info-container {
        text-align: center;
        @include margin(10px, 20px);

        p {
          color: $black-color;
        }
      }
    }
  }
}