$parallax-image-2: url("images/img-locations-background.jpg");
@import '../color&font.scss';

#locations {
  background-image: $parallax-image-2;
  text-align: center;
  @include h2();


  #location-header {
    padding-top: 50px;

  }

  #address-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .address {
      @include h3();
      width: 300px;
      background-color: $info-bg-white;
      box-shadow: $box-shadow;
      transition: .4s;
      @include padding(20px, 20px);
      @include margin(20px, 30px);
      @include border-radius(6px, 6px, 6px, 6px);

      p {
        transition: .4s;
        color: $black-color;
        font-weight: $light-text;
        font-style: oblique;
        font-size: 18px;
        @include padding(10px, 16px)
      }
    }
  }
}