$parallax-image-1: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
@import '../color&font.scss';

#mission {
  background-image: $parallax-image-1;
  display: flex;

  #card-info {
    margin-left: auto;
    margin-right: auto;
    align-self: center;
    background-color: $info-bg-white;
    box-shadow: $box-shadow;
    text-align: center;
    transition: .4s;
    @include border-radius(6px, 6px, 6px, 6px);
    @include padding(0px, 40px);

    #info {
      @include h1();

      p {
        font-family: $secondary-font;
        font-style: oblique;
        font-weight: $light-text;
        font-size: 20px;
        color: $black-color;
        transition: .4s;

        @include media() {
          line-height: 2;
        }
      }
    }

    @include media() {
      width: $width - 30%;
      margin-top: 50px;
    }
  }
}